email=info@mylandmarktech.com
##always-auth=true
##_auth=YWRtaW46aXNoZ2xvLg==
##//registry.npmjs.org/:_auth=YWRtaW46aXNoZ2xvLg==
http://172.31.67.61:8181/ishglodevops/repository/ishglodevops-npm-repo/:_auth=YWRtaW46aXNoZ2xvLg==
allowRepublish=true
