email=info@mylandmarktech.com
always-auth=true
##_auth=YWRtaW46aXNoZ2xvLg==
##//registry.npmjs.org/:_auth=YWRtaW46aXNoZ2xvLg==
registry=http://3.93.75.90:8181/ishglodevops/repository/ishglodevops-npm-repo/:_auth=YWRtaW46aXNoZ2xvLg==
allowRepublish=true
